<html lang="en">
    <head>
        <meta charSet="utf-8" />
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="stylesheet" href="/public/css/styles.css" type="text/css" media="screen">
    </head>
    <body>
        <div id="head">
            <div class="cell">
                <a id="logo" href="/"><img src="/public/img/logo.svg" onerror="this.onerror=null; this.src='/public/img/logo.png'" alt="Fligthfox"></a>
                <div id="user_menu">
                    <a href="#" class="sign-in">Sign In</a>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="cell">
                {% block main %}{% endblock %}
            </div>
        </div>
        <div id="foot">
            <div class="cell">
                <div class="love">Made with <span class="icon">&#xe91b;</span> and Miles</div>
            </div>
        </div>
        {% block js %}
        {% endblock %}
    </body>
</html>
