<html lang="en">
    <head>
        <meta charSet="utf-8" />
        <title>Dashboard</title>
    </head>
    <body>
        <div id="head">
            <div class="cell"></div>
        </div>
        <div id="main">
            <div class="cell">
                <div id="dashboard"><%- body %></div>
            </div>
        </div>
        <div id="foot">
            <div class="cell"></div>
        </div>
        <script type="text/javascript" src="/public/js/dashboard.bundle.js"></script>
    </body>
</html>
