{% extends 'base.html' %}
{% block title %} Sign In {% endblock %}
{% block main %}
    {% for message in req.flash('error') %}
        {{ message }}
    {% endfor %}
    <form action="/signin" method="POST">
        <div>
            <label for="name">Email</label>
            <input id="name" type="text" name="email" />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
        </div>
        <div>
            <button type="submit" class="block button">Sign In</button>
        </div>
    </form>
{% endblock %}
