<html lang="en">
    <head>
        <meta charSet="utf-8" />
        <title>{% block title %}Flightfox{% endblock %}</title>
        <link rel="stylesheet" href="/public/css/{{ styles }}" type="text/css" media="screen">
    </head>
    <body>
        <div id="head">
            <div class="cell">
                <a id="logo" href="/"><img src="/public/img/logo.svg" onerror="this.onerror=null; this.src='/public/img/logo.png'" alt="Fligthfox"></a>
                <div id="user_menu">
                    {% if req.isAuthenticated() %}
                        <a href="/signout" class="sign-out">Sign Out</a>
                    {% else %}
                        <a href="/signin" class="sign-in">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="main">
            <div class="cell">
                {% block main %}{% endblock %}
            </div>
        </div>
        <div id="foot">
            <div class="cell">
                <div class="love">Made with Miles</div>
            </div>
        </div>
        {% block js %}{% endblock %}
    </body>
</html>
